<h1>
  Notification demo</h1>

<div class="container">
  <div class="btns">
    <button class="btn green" (click)="onSuccess()">Success notification</button>
    <button class="btn red" (click)="onError()">Error notification</button>
    <button class="btn blue" (click)="onInfo()">Info notification</button>
    <button class="btn" (click)="onNone()">Default notification</button>
  </div>
  <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="onSubmit()">
    <input class="title" type="text" placeholder="Title" formControlName="title">

    <div class="radios">
      <label *ngFor="let t of types">
        <input class="rd" type="radio" [value]="t" formControlName="type"> {{t}}
      </label>
    </div>
    <textarea class="message" placeholder="Message" formControlName="message"></textarea>
    <button class="submit" type="submit" [disabled]="formGroup.invalid">Show notification</button>
  </form>

</div>

<app-notification></app-notification>

<router-outlet></router-outlet>
